@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 97%;
    --foreground: 212 47% 17%;
    --card: 0 0% 100%;
    --card-foreground: 212 47% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 47% 17%;
    --primary: 212 47% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 30% 92%;
    --secondary-foreground: 212 47% 27%;
    --muted: 210 30% 92%;
    --muted-foreground: 212 11% 49%;
    --accent: 212 11% 49%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 20% 80%;
    --input: 212 20% 85%;
    --ring: 212 47% 27%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 212 28% 12%;
    --foreground: 210 40% 98%;
    --card: 212 28% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 212 28% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 212 47% 27%;
    --secondary: 212 11% 49%;
    --secondary-foreground: 210 40% 98%;
    --muted: 212 11% 49%;
    --muted-foreground: 210 40% 90%;
    --accent: 212 11% 49%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 11% 49%;
    --input: 212 11% 49%;
    --ring: 210 40% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
